<style>

    </style>

<div>
<!-- Main Div Start--> 

<div class="dropdown">
    <button class="dropbtn">[ Company ]</button>
    <div class="dropdown-content">
      <a href="?page=addcompany">[Add Company]</a>
      <a href="?page=editcompany">[Edit Company]</a>
      <a href="?page=removecompany">[Remove Company]</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">[ Client ]</button>
    <div class="dropdown-content">
      <a href="?page=addcustomers">[Add Client]</a>
      <a href="?page=editcustomers">[Edit Client]</a>
      <a href="?page=removecustomers">[Remove Client]</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">[ jobs ]</button>
    <div class="dropdown-content">
      <a href="?page=addjob">[Add Jobs]</a>
      <a href="?page=editjob">[Edit Jobs]</a>
      <a href="?page=removejob">[Remove Jobs]</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">[ Invoices ]</button>
    <div class="dropdown-content">
      <a href="?page=addinvoice">[Add Invoices]</a>
      <a href="?page=editinvoice">[Edit Invoices]</a>
      <a href="?page=removeinvoice">[Remove Invoices]</a>
    </div>
</div>


<div class="dropdown">
    <button class="dropbtn">[ Payments ]</button>
    <div class="dropdown-content">
      <a href="?page=addpayment">[Add Payment]</a>
      <a href="?page=editpayment">[Edit Payment]</a>
      <a href="?page=removepayment">[Remove Payment]</a>
    </div>
</div>

<div class="dropdown">
  <button class="dropbtn">[ Addresses ]</button>
  <div class="dropdown-content">
    <a href="?page=addaddress">[Add Address]</a>
    <a href="?page=editaddress">[Edit Address]</a>
    <a href="?page=removeaddress">[Remove Address]</a>
  </div>

<!-- Main Div End-->  
</div>